html {
	text-align: center;
  font-size: 16;
	font-family: 'Avenir', sans-serif;
}

body {
  margin: 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32;
  margin: 12;
  font-weight: normal;
}

h2 {
	font-size: 18;
  margin: 0;
  font-weight: normal;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
	display: flex;
	flex-direction: row;
}

#color-scale {
  height: 12;
  width: 280;
  padding-left: 4;
  padding-right: 12;
}

#spacing {
  margin-left: auto;
  margin-right: auto;
}

#legend-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 8;
}

#legend-labels {
  display: flex;
  flex-direction: row;
}

#legend-min-label {
  width: auto;
  margin: 0;
}

#legend-max-label {
  width: auto;
  margin: 0;
}

#map-legend {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 12;
  right: 12;
}

#creator-names {
  font-size: 12;
  font-weight: normal;
}

#color-legend-container {
  position: absolute;
  top: 100;
  width: 100;
  height: 100;
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#mapContainer {
  overflow: hidden;
}

#controlPanel {
  margin: 0;
  padding: 20;
  min-width: 360px;
  min-height: 100vh;

  /* Shadow style from https://css-tricks.com/make-a-smooth-shadow-friend */
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

#icon {
	width: 100px;
}

.search-clear {
  width: 20px;
  height: 20px;
}

.tooltip {	
    position: absolute;			
    text-align: center;								
    padding: 5px;				
    font: 14px Montserrat;		
    background: white;	
    border: 0px;		
    border-radius: 10px;			
    pointer-events: none;	
    opacity: .75;		
}

.vertical-flex {
	display: flex;
	flex-direction: column;
}

p {
	width: 80%;
}

/* Toggle slider styles from https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
