
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32;
	text-align: center
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

p {
	width: 80%;
}