html {
	text-align: center;
  font-size: 16;
	font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32;
  padding-left: 24;
  padding-right: 24;
  margin: 0;
  margin-bottom: 18;
  font-weight: bold;
}

h2 {
  font-family: 'Open Sans', sans-serif;
	font-size: 16;
  color: #222222;
  padding-left: 20;
  padding-right: 20;
  margin-top: 0;
  margin-bottom: 32;
  font-weight: normal;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
	display: flex;
	flex-direction: row;
}

#color-scale {
  height: 12;
  width: 280;
  padding-left: 4;
  padding-right: 12;
  opacity: 1;
}

#spacing {
  margin-left: auto;
  margin-right: auto;
}

#horizontal-spacing {
  width: 10px;
}

#vertical-spacing {
  height: 50px;
}

#legend-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 8;
}

#legend-labels {
  display: flex;
  flex-direction: row;
}

#legend-label {
  width: auto;
  margin: 0;
}

#map-legend {
  width: auto;
  height: auto;
  position: absolute;
  top: 12;
  right: 12;
  background-color: white;
  border: 0px;    
  border-radius: 10px;     
  padding: 10px; 
}

#creator-names {
  font-size: 12;
  font-weight: normal;
}

#color-legend-container {
  position: absolute;
  top: 100;
  width: 100;
  height: 100;
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#map-container {
  overflow: hidden;
  margin-left: -10;
}

#control-panel {
  z-index: 3;
  margin: 0;
  background-color: white;
  max-width: 400px;
  min-width: 400px;
  min-height: 100vh;

  /* Shadow style from https://css-tricks.com/make-a-smooth-shadow-friend */
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

#icon {
	width: 140px;
  margin-bottom: 16px;
}

.radius-label {
  font-size: 12;
}

.end-credits-container {
  margin-top: 48px;
  color: gray;
}

#spotlight-controls {
  margin-bottom: 12;
}

#spotlight-controls-header {
  text-align: left;
}

.search-clear {
  position: relative;
  top: 4;
  right: 36;
  width: 20px;
  height: 20px;
}

#searchbar {
  width: auto;
  margin: 0;
  padding: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}

#searchbox {
  width: 86%;
  height: 40px;
  margin-left: 22px;;
  padding-left: 12px;
  font-size: 14;
  font-family: 'Open Sans', sans-serif;
  font-color: #eee;
  border-radius: 6px;
  border: none;
  -moz-box-shadow:    0px 1px 3px 1px #bbbbbb;
  -webkit-box-shadow: 0px 1px 3px 1px #bbbbbb;
  box-shadow:         0px 1px 3px 1px #bbbbbb;
}

#spotlight-container {
  padding: 32;
  border-radius: 6px;
  margin: 24px;
  background-color: #f5f5f5;
}

.spotlight-switch-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40;
}

#spotlight-switch-label {
  font-weight: 1000;
}

.control-header {
  padding: 32;
  padding-top: 60;
}

.tooltip {	
    position: absolute;			
    text-align: center;								
    padding: 5px;				
    font: 14px Montserrat;		
    background: white;	
    border: 0px;		
    border-radius: 10px;			
    pointer-events: none;	
    opacity: .75;		
}

.vertical-flex {
	display: flex;
	flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Toggle slider styles from https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Small text */
.small {
  font-size: 10px;
  font-style: italic;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
